
@use "sass:color";


// Colores principales basados en la nueva paleta
$primary: #87b8a2;    // Verde oscuro
$secondary: #dee9d5ff;  // Verde claro
$accent: #d6dbd5ff;     // Gris verdoso
$dark: #262626;
$light: #f8f9fa;
$muted: #6c757d;


// Variables para componentes específicos
$header_bg: #364732ff;
$footer-bg: $dark;
$btn-primary-bg: $primary;
$card-border: $accent;
$slide-bg: $primary;
$content-bg: $secondary;

// Derivados de la paleta principal (tonalidades)
$primary-light: color.adjust($primary, $lightness: 30%);
$primary-dark: color.adjust($primary, $lightness: -10%);
$secondary-light: color.adjust($secondary, $lightness: 10%);
$secondary-dark: color.adjust($secondary, $lightness: -15%);
